PRIVATE_KEY=

# RPC URLs infura or alchemy with keys for SC deployment on testnet/mainnet
# not needed for local testing
SEPOLIA_RPC_URL=
MAINNET_RPC_URL=

# to verify contract on etherscan
ETHERSCAN_API_KEY=
